[unstable]
build-std = ['std', 'panic_abort']

[build]
target = ["wasm32-unknown-unknown"]
rustflags = [ 
    "-Ctarget-feature=+atomics,+bulk-memory",
    # TODO: https://github.com/wasm-bindgen/wasm-bindgen/issues/4727
    "-Clink-arg=--max-memory=4294967296",
    "-Clink-arg=--shared-memory",
    "-Clink-arg=--import-memory",
    "-Clink-arg=--export=__wasm_init_tls",
    "-Clink-arg=--export=__tls_size",
    "-Clink-arg=--export=__tls_align",
    "-Clink-arg=--export=__tls_base",
    "--cfg=web_sys_unstable_apis",
]
